<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="punchout_form" method="post" action="https://openapi.alipaydev.com/gateway.do?charset=utf-8&method=alipay.trade.page.pay&sign=X9dCcX5qVnJJ%2BKPJINsTTSLWTvCOEckM1EOx3a5EkQgTijS1RFqR8lvhOhJ5Ayv7RxDNt7%2BiAACvv%2BampjQqf%2BR8dUnZEvHjOyRP1sHFtanaIOCMXiCTiRlkvDXTXYWJ7p8EPXF4MbuCyHM3g5gRu1koGxLiCBXs3XL%2FUGQ1Xfqlt%2FV2yLAWCIAKAWooE1Ev7mYoUcdYNlClJRAIme4CLhZmwFR8nmA5JlmTzQqjMPVyV%2FXW%2FR2to%2Fs1gBhMlj6REyPOuSJd7fZyglLQdTgaF60VooCXlKy8WQKTORfM44zRCSKMR3XavI6hka6tLrG%2FiHSmJZJ2yFpVjk9jfEbXeQ%3D%3D&return_url=http%3A%2F%2Flocalhost%3A9999%2F%23%2Fpersonal%2FillegalInfo&notify_url=http%3A%2F%2F4get9t.natappfree.cc%2FaliPay%2Fnotify&version=1.0&app_id=2021000122692484&sign_type=RSA2&timestamp=2023-05-24+18%3A24%3A14&alipay_sdk=alipay-sdk-java-4.35.139.ALL&format=JSON">
    <input type="hidden" name="biz_content" value="{&quot;out_trade_no&quot;:&quot;2021081701010100411&quot;,&quot;product_code&quot;:&quot;FAST_INSTANT_TRADE_PAY&quot;,&quot;subject&quot;:&quot;测试商品&quot;,&quot;total_amount&quot;:&quot;100.00&quot;}">
    <input type="submit" value="立即支付" style="display:none" >
</form>
</body>
</html>